.tileListContainer {
    position: relative;
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: tomato;
}


.tileList {
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.tileList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
    height: 100%;
  }
  
 .tileList li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: green;
 }
 
